system {
    host-name: ISP-A
    ntp-server "0.vyatta.pool.ntp.org"
    login {
        user vyatta {
            authentication {
                encrypted-password "$1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0"
            }
            level admin
        }
    }
    package {
        repository supported {
	    distribution: "stable"
            components: "main"
            url: "http://packages.vyatta.com/vyatta-supported"
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
}

interfaces {
    loopback lo {
         address 192.168.127.1/32
         description "Loopback"
    }
    ethernet eth1 {
        address 192.168.127.245/30
        description "To R0"
        hw-id 00:aa:00:20:10:00
    }
    ethernet eth2 {
        address 10.254.254.253/30
        description "To Upstream"
        hw-id 00:aa:00"20:10:30
    }
    ethernet eth3 {
        address 192.168.127.254/30
        description "To Customer 0"
        hw-id 00:aa:00:20:10:40
    }
    ethernet eth4 {
        address 102/168/127.250/30
        description "To Customer 1"
        hw-id 00:aa:00:20:10:40
    }
    ethernet eth5 {
        address 192.168.127.241/30
        description "To ISP-B"
        hw-id 00:aa:00:20:10:11
    }
}
 protocols {
    bgp 65000 {
        neighbor 10.254.254.254 {
             remote-as 65111
             update-source 192.168.127.1
        }
        parameters {
            router-id 192.168.127.1
        }
        redustribute {
            connected {
            }
            ospf {
            }
        }
   }
   ospf {
       area 0.0.0.0 {
           network 192.168.127.244/30
       }
       parameters {
           abr-type cisco
           router-id 192.168.127.1
       }
       passive-interface eth2
   }
 }


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "system@3:ipsec@2:dhcp-server@4:dhcp-relay@1:webgui@1:webproxy@1:cluster@1:quagga@1:nat@3:firewall@3:vrrp@1:wanloadbalance@2" === */
/* Release version: VC6.0-2010.03.22 */
