interfaces {
    ethernet eth1 {
        address 10.0.34.66/30
        description "to R0"
        hw-id 00:aa:00:20:01:00
    }
    ethernet eth2 {
        address 10.0.34.73/30
        description "to R2"
        hw-id 00:aa:00:20:01:02
    }
    ethernet eth3 {
        address 10.0.34.1/26
        description "to switch 1"
        hw-id 00:aa:00:20:01:21
    }
    loopback lo {
        address 10.0.34.77/32
        description Loopback
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            network 10.0.34.64/30
            network 10.0.34.68/30
        }
        default-information {
            originate {
                always
                metric-type 2
            }
        }
        parameters {
            abr-type cisco
            router-id 10.0.34.77
        }
        redistribute {
            connected {
                metric-type 2
            }
        }
    }
}
system {
    host-name R1
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
