interfaces {
    ethernet eth1 {
        address 10.0.34.69/30
        description "To R2"
        duplex auto
        hw-id 00:aa:00:20:00:02
        smp_affinity auto
        speed auto
    }
    ethernet eth2 {
        address 192.168.127.246/30
        description "To ISP-A"
        duplex auto
        hw-id 00:aa:00:20:00:10
        smp_affinity auto
        speed auto
    }
    ethernet eth3 {
        address 10.2.0.1/16
        description "To Host PC"
        duplex auto
        hw-id 00:aa:00:20:00:a0
        smp_affinity auto
        speed auto
    }
    ethernet eth4 {
        address 10.0.34.65/30
        description "To R1"
        duplex auto
        hw-id 00:aa:00:20:00:01
        smp_affinity auto
        speed auto
    }
    loopback lo {
        address 10.0.34.76/32
        description Loopback
    }
}
protocols {
    bgp 65000 {
        neighbor 192.168.127.245 {
            remote-as 65111
            update-source 10.0.34.76
        }
        parameters {
            router-id 10.0.34.76
        }
        redistribute {
            connected {
            }
            kernel {
            }
            ospf {
            }
            static {
            }
        }
    }
    ospf {
        area 0.0.0.0 {
            network 10.0.34.68/30
            network 10.0.34.64/30
            network 192.168.127.244/30
            network 192.168.127.240/30
        }
        parameters {
            abr-type cisco
            router-id 10.0.34.76
        }
        redistribute {
            connected {
                metric-type 2
            }
        }
    }
    static {
        route 10.0.34.0/24 {
            blackhole {
                distance 254
            }
        }
        route 192.168.127.244/30 {
            blackhole {
                distance 254
            }
        }
    }
}
system {
    host-name r0
    login {
        user vyatta {
            authentication {
                encrypted-password $1$1WtdCQ3x$tEayWu2oe8dwau6SquaBe0
            }
            level admin
        }
    }
    ntp-server 0.vyatta.pool.ntp.org
    package {
        auto-sync 1
        repository supported {
            components main
            distribution stable
            password ""
            url http://packages.vyatta.com/vyatta-supported
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone GMT
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "dhcp-server@4:webgui@1:system@3:quagga@1:cluster@1:ipsec@2:dhcp-relay@1:vrrp@1:webproxy@1:nat@3:wanloadbalance@2:firewall@3" === */
/* Release version: VC6.0-2010.03.22 */
